/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

* {
  margin: 0;
  background-color:	#251012;
}

button {
  font-family: "Cormorant Garamond", serif;
  font-size: 17px;
}

/* header and nav */

header {
  background-color: #251012;
  padding: 20px;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #c67b6f	;

}



header h1 a {
  text-align: center;
  color: white;
  font-family: "Great Vibes", cursive;
  text-decoration: none;
  font-size: 40px;
}


.menu {
  position: absolute;
  right: 5%;
  border: 2px solid #251012;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  /* display: none; */
}

.menu:hover {
  cursor: pointer;
  /* border: 2px solid white; */
 
}

.hamIcon {
  background-color: white;
  width: 35px;
  height: 4px;
  margin: 6px 0;
  border-radius: 10px;

}

.x {
  content: "\2715";
  font-weight: 1000;
  font-size: 30px;
  /* display: none; */
}

.x:hover {
  cursor: pointer;
}

.close-menu {
    position: absolute;
    right: 5%;
    border: 2px solid #251012;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    color: white;
}

.navItems {
  position: absolute;
  background-color: #251012;
  width: 100%;
  right: 0%;
  height: 100%;
  margin-top: 75px;
}




.navItems ul li {
  list-style-type: none;
  margin: 20px 45px 20px 0%;
  text-align: center;
}

.navItems ul li a {
  text-decoration: none;
  color: white;
  font-size: 25px;

}


.nav-link.active {
  color:#c67b6f;
}

/* Universal Pages */
h2 {
  color: white;
  font-size: 30px;
  font-family: "Cormorant Garamond", serif;
}

.content {
  margin: 40px;
}

hr {
  margin-bottom: 40px;
  margin-top: 40px;
  border-top: 1.5px solid #c67b6f;
  border-radius: 10px;
}

p {
  color: white;
  font-family: "Cormorant Garamond", serif;
}

/* Home Page */

.imgCont {
  display: flex;
  justify-content: center;
}

img {
  width: 300px;
}

.title {
  display: flex;
  justify-content: center;
}

h3 {
  color: white;
  text-align: center;
  margin-top: 50px;
  font-size: 25px;
  font-family: "Cormorant Garamond", serif;
}

p {
  text-align: center;
  margin-top: 10px;
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
}

.small-hr {
  width: 200px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.potluck h3 {
  margin-top: 0px;
}

.potluck-info, .pot-sign {
  line-height: 25px;
}

a {
  color: #edcead;
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
}

.pot-link {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 100px;
}

/* footer */

/* #root {
  position: relative;
  min-height: 160vh;
} */

/* body {
  min-height: 100vh;

} */

footer {
  border-top: 2px solid #c67b6f;
  padding: 30px 0px 30px 30px;

}

footer h4 {
  /* background-color: #c67b6f; */
  color: white;
  font-size: 18px;
  font-family: "Cormorant Garamond", serif;
}

footer p {
  /* background-color: #c67b6f; */
  text-align: left;
  color: white;
}


footer p strong {
  /* background-color: #c67b6f; */
}

footer ul {
  /* background-color: #c67b6f; */
}

footer ul li {
  /* background-color: #c67b6f; */
  margin: 10px 0px 10px 0px;
  position: relative;
  left: -5%;

}

footer ul li::marker {
  color: white;
}

footer ul li a {
  /* background-color: #c67b6f; */
  color: #edcead;

}

/* Travel Page */
.travel {
  font-size: 50px;
  margin-bottom: 60vh;
}

/* Registry Page */


.content h2 {
  text-align: center;
  margin-bottom: 20px;
}

.registry p {
  margin-bottom: 20px;
  font-size: 20px;
}

.registry a {
  font-size: 20px;
}

.registry {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 500px;
}

.registry-link {
  color: white;
  text-decoration: none;
  background-color: #c67b6f;
  width: 200px;
  padding: 10px;
  margin: 0 auto;
  border-radius: 5px;
  border: 2px solid #c67b6f;
  margin-top: 10px;
}



/* RSVP */

form {
  background-color: #c67b6f;
  padding: 20px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

form div {
  background-color: #c67b6f;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
form div label strong {
  background-color: #c67b6f;
}

form div label {
  background-color: #c67b6f;
}

form div input {
  background-color: white;
  height: 20px;
  border-radius: 3px;
  border: none;
}

form div h4 {
  background-color: #c67b6f;
}

.rsvpCheck .check {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0px 0px 0px;
 
}

.rsvpCheck .check label {
  margin-left: 5px;
}

.rsvpCheck .check input {
  width: 17px;
}

form button {
  color: white;
  padding: 10px;
  width: 100px;
  margin: 0 auto;
  border-radius: 5px;
  border: 2px solid #251012;
}

form button:hover {
  cursor: pointer;
  opacity: 70%;
}

form div input:focus {
  border: 3px solid #251012;
  outline: none;
  
}

form .check input {
  accent-color: #251012;
}

form .check input:hover {
  cursor: pointer;
}

.party-desc {
  background-color: #c67b6f;
  color: black;
  font-weight: 600;
  text-align: left;
  font-size: 15px;
  margin-bottom: 5px;
  margin-top: 0px;
}

.error {
  background-color: red;
}




@media ( min-width: 800px ) {
  .content {
    width: 600px;
    margin: 0 auto;
    margin-top: 50px;
  }

  .menu:hover {
    opacity: 65%;
  }

  .x:hover {
    opacity: 65%;
  }

  .navItems ul li a:hover {
    opacity: 65%;
  }

  .registry-link:hover {
    opacity: 65%;
  }

  footer {
    padding-left: 50px;
  }

  footer ul li {
    margin-left: 50px;
  }

  form {
    width: 400px;
    margin: 0 auto;
    margin-bottom: 100px;
  }


}

